{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended","plugin:react/recommended"],
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "react/prefer-es6-class": 2,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1
  },
  "plugins": [
    "react"
  ]
}
